__pycache__/
*.py[cod]
*$py.class

.rice-backups/
.rice-staging/
*.save

.vscode/
*.code-workspace
.directory

luminophore-dragctl
luminophore_shell/_luminophore_glow_native*.so
luminophore_shell/luminophore-glow-layer
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

luminophore_shell/luminophore-background-layer
luminophore_shell/profile-runtime
