[Unit]
Description=Luminophore Secret Service provider
PartOf=luminophore-session.target
Requires=gnome-keyring-daemon.socket gnome-keyring-daemon.service
After=gnome-keyring-daemon.socket gnome-keyring-daemon.service
PropagatesStopTo=gnome-keyring-daemon.service gnome-keyring-daemon.socket
ConditionPathExists=%t/luminophore/session.env

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=%t/luminophore/session.env
ExecCondition=/usr/bin/luminophore-session check
ExecStart=/usr/bin/busctl --user --timeout=5 status org.freedesktop.secrets

[Install]
WantedBy=luminophore-session.target
